# dependencies
node_modules

# build
dist

# logs
*.log

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
.idea/

# system
.DS_Store
Thumbs.db

# vite
vite.config.timestamp-*

# cache
.cache/
.temp/

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# npm
package-lock.json

# pnpm
pnpm-lock.yaml